@charset "UTF-8";
@import "reset.css";
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-Pro-Display-Regular.ttf") format("truetype"), url("../fonts/SF-Pro-Display-Regular.otf") format("opentype"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.footer-wrapper .footer .footer__info .info__item a, .footer-wrapper .footer .footer__content .content__contact-us a svg, .footer-wrapper .footer .footer__content li, .footer-wrapper .footer .footer__top-bar .top-bar__launch-button, .footer-wrapper .footer .footer__top-bar .top-bar__contact-email .contact-email__email, .aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post, .aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post .post__title, .content-wrapper .content__post .post__read-more, .header-wrapper .header .header__button-group .header__join-button, .header-wrapper .header .header__button-group .header__language .language-button, .header-wrapper .header .header__nav .nav__link {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.content-wrapper .content__post .post__read-more:hover {
  background-color: #07DBB4;
  color: #06071B;
}

.footer-wrapper .footer .footer__content .content__contact-us a svg:hover rect {
  fill: #07DBB4;
}

.footer-wrapper .footer .footer__content li:hover, .footer-wrapper .footer .footer__top-bar .top-bar__contact-email .contact-email__email:hover, .aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post .post__title:hover, .header-wrapper .header .header__button-group .header__language .language-button:hover {
  color: #07DBB4;
}

body {
  background-color: #06071B;
}

.body-wrapper {
  display: grid;
  grid-template-areas: "header header" "content aside" "footer footer";
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.header-wrapper {
  grid-area: header;
  background: rgba(255, 255, 255, 0.05);
}
.header-wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: auto;
  padding: 37px 71px;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
}
.header-wrapper .header .header__logo {
  margin-right: 20px;
  min-width: 150px;
}
.header-wrapper .header .header__nav {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.header-wrapper .header .header__nav .nav__link {
  margin-left: 2vw;
  padding: 4px 0;
  color: white;
  text-decoration: none;
}
.header-wrapper .header .header__nav .nav__link:hover {
  color: #07DBB4;
}
.header-wrapper .header .header__nav .nav__link--active {
  color: #07DBB4;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.header-wrapper .header .header__button-group {
  display: flex;
  align-items: center;
}
.header-wrapper .header .header__button-group .header__language {
  margin: 0 20px;
  color: white;
}
.header-wrapper .header .header__button-group .header__language span {
  margin: 0 3px;
}
.header-wrapper .header .header__button-group .header__language .language-button {
  background-color: transparent;
  border: none;
  color: white;
}
.header-wrapper .header .header__button-group .header__language .language--inactive {
  color: rgba(255, 255, 255, 0.6);
}
.header-wrapper .header .header__button-group .header__language span {
  color: rgba(255, 255, 255, 0.6);
}
.header-wrapper .header .header__button-group .header__join-button {
  height: 45px;
  width: 200px;
  text-align: center;
  background-color: #07DBB4;
  border: 1px solid #07DBB4;
  border-radius: 10px;
  color: black;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 16px;
}
.header-wrapper .header .header__button-group .header__join-button:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: black;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 16px;
}

.content-wrapper {
  grid-area: content;
  margin: 40px 30px 0 auto;
}
.content-wrapper .content__start-plate {
  width: 825px;
  height: auto;
  background: #121326;
  border-radius: 15px;
  font-weight: 500;
  color: white;
  padding: 24px;
  margin-bottom: 20px;
}
.content-wrapper .content__start-plate h1 {
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 10px;
}
.content-wrapper .content__start-plate .content__filters {
  display: flex;
  margin: 20px 0;
}
.content-wrapper .content__start-plate .content__filters .filter-button {
  height: 50px;
  width: auto;
  padding: 0 20px;
  margin-right: 10px;
  background: #242648;
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
}
.content-wrapper .content__start-plate .content__filters .filter-button--active {
  background: #8287F3;
  color: #06071B;
}
.content-wrapper .content__start-plate .content__more-filters-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 30px;
}
.content-wrapper .content__start-plate .content__more-filters-button span {
  margin-left: 5px;
  text-decoration: underline;
  font-size: 14px;
  line-height: 120%;
}
.content-wrapper .content__start-plate .content__more-filters .more-filters__title {
  display: block;
  margin-bottom: 10px;
}
.content-wrapper .content__start-plate .content__more-filters ul.more-filters__filters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-wrapper .content__start-plate .content__more-filters ul.more-filters__filters-list li.filters-list__filter {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 20px 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  cursor: pointer;
}
.content-wrapper .content__start-plate .content__more-filters ul.more-filters__filters-list li.filter--checked {
  color: transparent;
  background: linear-gradient(62.92deg, #A826FF -4.27%, #42E8E0 110.19%);
  background-clip: text;
  text-decoration: underline;
  text-decoration-color: #A826FF;
  text-underline-offset: 4px;
}
.content-wrapper .content__post {
  height: auto;
  width: 825px;
  background: #121326;
  border-radius: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  padding: 24px;
  margin-bottom: 20px;
}
.content-wrapper .content__post .post__top-info-line {
  display: flex;
  justify-content: flex-end;
  color: #31325C;
  font-weight: 400;
  font-size: 12px;
}
.content-wrapper .content__post .post__top-info-line span {
  margin-left: 3px;
}
.content-wrapper .content__post .post__top-info-line .stats-line__views {
  margin-right: 13px;
}
.content-wrapper .content__post .post__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: rgb(255, 255, 255);
  margin: 14px 0 30px 0;
}
.content-wrapper .content__post .post__line-spacer {
  width: 100%;
  margin: 20px 0 15px 0;
}
.content-wrapper .content__post .post__description {
  margin: 20px 0;
}
.content-wrapper .content__post .post__read-more {
  border: 1px solid #07DBB4;
  border-radius: 10px;
  background: transparent;
  height: 50px;
  padding: 10px 36px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.content-wrapper .content__post .post__bot-stats-line {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #31325C;
}
.content-wrapper .content__post .post__bot-stats-line span {
  margin-left: 3px;
}
.content-wrapper .content__post .post__bot-stats-line .stats-line__dislikes {
  margin: 0 20px;
}
.content-wrapper .content__post .post__bot-stats-line .stats-line__dislikes .icon-thumbs-down {
  transform: rotate(180deg);
}
.content-wrapper .content__pages-swithing {
  padding: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  height: auto;
  background: #121326;
}
.content-wrapper .content__pages-swithing .pages-swithing-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 15px;
  color: #8287F3;
}
.content-wrapper .content__pages-swithing .pages-swithing-button svg {
  margin: 5px;
}
.content-wrapper .content__pages-swithing .pages-swithing-button--inactive {
  color: rgba(130, 135, 243, 0.3);
}
.content-wrapper .content__pages-swithing .pages-swithing-button--inactive svg {
  stroke: #8287F3;
  opacity: 0.3;
}
.content-wrapper .content__pages-swithing .pages-swithing__prev-page svg {
  transform: rotate(180deg);
}
.content-wrapper .content__pages-swithing ul.pages-swithing__page-numbers {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
}
.content-wrapper .content__pages-swithing ul.pages-swithing__page-numbers li.page-numbers__item {
  margin-left: 13px;
  cursor: pointer;
}
.content-wrapper .content__pages-swithing ul.pages-swithing__page-numbers li.page-numbers--current {
  padding: 2px 13px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #07DBB4;
  border-radius: 5px;
}

.aside-wrapper {
  grid-area: aside;
  margin-right: auto;
  margin-top: 40px;
}
.aside-wrapper .aside {
  width: 244px;
  height: auto;
  padding: 24px;
  background: #121326;
  border-radius: 15px;
}
.aside-wrapper .aside .aside__title {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.aside-wrapper .aside .aside__line-spacer {
  margin: 10px 0;
}
.aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post .post__title {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post .post__stats-line {
  margin-top: 7px;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  color: #31325C;
}
.aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post .post__stats-line span {
  margin-left: 3px;
}
.aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post .stats-line__views {
  margin-right: 30px;
}
.aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post .stats-added {
  color: #07DBB4;
}
.aside-wrapper .aside ul.aside__reading-now-list li.reading-now-list__post:hover {
  color: #07DBB4;
}

.footer-wrapper {
  grid-area: footer;
  height: auto;
  background: #1F2146;
  padding: 40px 300px;
}
.footer-wrapper .footer {
  max-width: 1273px;
}
.footer-wrapper .footer .footer__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-wrapper .footer .footer__top-bar .top-bar__logo {
  justify-content: flex-start;
}
.footer-wrapper .footer .footer__top-bar .top-bar__contact-email {
  margin-left: auto;
}
.footer-wrapper .footer .footer__top-bar .top-bar__contact-email .contact-email__email {
  margin-left: 10px;
  margin-right: 56px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
}
.footer-wrapper .footer .footer__top-bar .top-bar__launch-button {
  display: flex;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 16px;
}
.footer-wrapper .footer .footer__top-bar .top-bar__launch-button .launch-button__label {
  margin: auto 0;
}
.footer-wrapper .footer .footer__top-bar .top-bar__launch-button svg {
  margin-left: 8px;
  height: 28px;
  width: 28px;
}
.footer-wrapper .footer .footer__top-bar .top-bar__launch-button:hover {
  background-color: transparent;
  border: 1px solid #07DBB4;
  border-radius: 10px;
  color: #07DBB4;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 16px;
}
.footer-wrapper .footer .footer__line-spacer {
  width: 100%;
  margin: 30px 0;
  border: 1px solid rgba(6, 7, 27, 0.2);
}
.footer-wrapper .footer .footer__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 150px;
  max-height: 255px;
}
.footer-wrapper .footer .footer__content li {
  line-height: 220%;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
}
.footer-wrapper .footer .footer__content .content__assets .assets__title {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
}
.footer-wrapper .footer .footer__content .content__crypto-info {
  margin-bottom: auto;
}
.footer-wrapper .footer .footer__content .content__contact-us .contact-us__title {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0;
}
.footer-wrapper .footer .footer__content .content__contact-us a {
  margin-right: 7px;
  padding: 0;
  background: transparent;
  border: none;
}
.footer-wrapper .footer .footer__info {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 16px;
}
.footer-wrapper .footer .footer__info .info__item a {
  margin-right: 100px;
}
.footer-wrapper .footer .footer__info .info__item:hover a {
  color: white;
}
.footer-wrapper .footer .footer__info .copyright {
  margin-left: auto;
}

.stats-added {
  color: #07DBB4;
}

button, a {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
