@import "reset.css";
@font-face {
	font-family: 'SF-Pro-Display';
	src: url('../fonts/SF-Pro-Display-Regular.eot');
	src: local('☺'),  url('../fonts/SF-Pro-Display-Regular.ttf') format('truetype'),
                    url("../fonts/SF-Pro-Display-Regular.otf") format("opentype"),
                    url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@mixin button($bgColor, $borderColor, $textColor) {
  background-color: $bgColor;
  border: 1px solid $borderColor;
  border-radius: 10px;
  color: $textColor;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 16px;
}
@mixin white-text($opacity) {
  color: rgba(255, 255, 255, $opacity);
  font-weight: 400;
  font-size: 16px;
}
%default-trasition{
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
%hovered-button-transparent{
  background-color:#07DBB4;
  color: #06071B;
}
%hovered-button-green{
  background:#FFFFFF;
}
%hovered-contact-svg{
  rect{
    fill:#07DBB4;
  }
}
%hovered-text{
  color:#07DBB4
}

///////////////////////////////////////

body{
  background-color: #06071B;
}
.body-wrapper{
  display: grid;
  grid-template-areas: "header header" "content aside" "footer footer";
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.header-wrapper{
  grid-area: header;
  background: rgba(255, 255, 255, 0.05);
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: auto;
    padding: 37px 71px;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    .header__logo{
      margin-right: 20px;
      min-width: 150px;
    }
    .header__nav{
      display: flex;
      justify-content: space-between;
      width: auto;
      .nav__link{
        margin-left: 2vw;
        padding: 4px 0;
        color: white;
        text-decoration: none;
        @extend %default-trasition;
      }
      .nav__link:hover{
        color: #07DBB4;
      }
      .nav__link--active{
        color: #07DBB4;
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
    .header__button-group{
      display: flex;
      align-items: center;
      .header__language{
        margin: 0 20px;
        color: white;
        .language-button{
          background-color: transparent;
          border: none;
          color: white;
          @extend %default-trasition;
        }
        .language-button:hover{
          @extend %hovered-text;
        }
        .language--inactive{
          color: rgba(255, 255, 255, 0.6);
        }
        span{
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .header__join-button{
        height: 45px;
        width: 200px;
        text-align: center;
        @include button(#07DBB4, #07DBB4, black);
        @extend %default-trasition;
      }
      .header__join-button:hover{
        @include button(#FFFFFF, #FFFFFF, black);
      }
    }
  }
}
.content-wrapper{
  grid-area: content;
  margin: 40px 30px 0 auto;
  .content__start-plate{
    width: 825px;
    height: auto;
    background: #121326;
    border-radius: 15px;
    font-weight: 500;
    color: white;
    padding: 24px;
    margin-bottom: 20px;
    h1{
      font-size: 60px;
      line-height: 120%;
      margin-bottom: 10px;
    }
    .content__filters{
      display: flex;
      margin: 20px 0;
      .filter-button{
        height: 50px;
        width: auto;
        padding: 0 20px;
        margin-right: 10px;
        background: #242648;
        border: none;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.6);
      }
      .filter-button--active{
        background: #8287F3;
        color: #06071B;
      }
      
    }
    .content__more-filters-button{
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.4);
      margin-bottom: 30px;
      span{
        margin-left: 5px;
        text-decoration: underline;
        font-size: 14px;
        line-height: 120%;
      }
    }
    .content__more-filters{
      .more-filters__title{
        display: block;
        margin-bottom: 10px;
      }
      ul.more-filters__filters-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li.filters-list__filter{
          color: rgba(255, 255, 255, 0.5);
          margin: 0 20px 10px 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          cursor: pointer;
        }
        li.filter--checked{
          color: transparent;
          background: linear-gradient(62.92deg, #A826FF -4.27%, #42E8E0 110.19%);
          background-clip: text;
          text-decoration: underline;
          text-decoration-color: #A826FF;
          text-underline-offset: 4px;
        }
      }
    }
  }
  .content__post{
    height: auto;
    width: 825px;
    background: #121326;
    border-radius: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    padding: 24px;
    margin-bottom: 20px;
    .post__top-info-line{
      display: flex;
      justify-content: flex-end;
      color: #31325C;
      font-weight: 400;
      font-size: 12px;
      .stats-line__views{
        margin-right: 13px;
      }
    }
    .post__title{
      font-weight: 500;
      font-size: 30px;
      line-height: 120%;
      color: rgba(255, 255, 255);
      margin-top: 14px;
    }
    .post__line-spacer{
      width: 100%;
    }
    .post__read-more{
      border: 1px solid #07DBB4;
      border-radius: 10px;
      background: transparent;
      height: 50px;
      padding: 10px 36px;
      font-weight: 500;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;

      @extend %default-trasition;
    }
    .post__read-more:hover{
      @extend %hovered-button-transparent
    }
    .post__bot-stats-line{
      display: flex;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #31325C;
      .stats-line__dislikes{
        margin: 0 20px;
        .icon-thumbs-down{
          transform: rotate(180deg);
        }
      }
    }
  }
  .content__pages-swithing{
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    height: auto;
    background: #121326;
    .pages-swithing-button{
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      border-radius: 15px;
      color: #8287F3;
      svg{
        margin: 5px;
      }
    }
    .pages-swithing-button--inactive{
      color: rgba(130, 135, 243, 0.3);
      svg{
        stroke:#8287F3;
        opacity: 0.3;
      }
    }
    .pages-swithing__prev-page{
      svg{
        transform: rotate(180deg);
      }
    }
    ul.pages-swithing__page-numbers{
      display: flex;
      align-items: center;
      @include white-text(0.6);
      li.page-numbers__item{
        margin-left: 13px;
      }
      li.page-numbers--current{
        padding: 2px 13px;
        @include white-text(1);
        border: 1px solid #07DBB4;
        border-radius: 5px;
      }
    }
  }
}
.aside-wrapper{
  grid-area: aside;
  margin-right: auto;
  margin-top: 40px;
  .aside{
    width: 244px;
    height: auto;
    padding: 24px;
    background: #121326;
    border-radius: 15px;
    .aside__title{
      color: white;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
    }
    .aside__line-spacer{
      margin: 10px 0;
    }
    ul.aside__reading-now-list{
      li.reading-now-list__post{
        .post__title{
          display: block;
          font-weight: 400;
          font-size: 16px;
          color:rgba(255, 255, 255, 0.6);
          @extend %default-trasition;
        }
        .post__title:hover{
          @extend %hovered-text;
        }
        .post__stats-line{
          margin-top: 7px;
          display: flex;
          font-weight: 400;
          font-size: 12px;
          color: #31325C;
        }
        .stats-line__views{
          margin-right: 30px;
        }
        .stats-added{
          color: #07DBB4;
        }
        @extend %default-trasition;
      }
      li.reading-now-list__post:hover{
        color: #07DBB4;
      }
    }
  }
}
.footer-wrapper{
  grid-area: footer;
  height: auto;
  background: #1F2146;
  padding: 40px 300px;
  .footer{
    max-width: 1273px;
    .footer__top-bar{
      display: flex;
      align-items: center;
      justify-content:space-between;
      .top-bar__logo{
        justify-content: flex-start;
      }
      .top-bar__contact-email{
        margin-left: auto;
        .contact-email__email{
          margin-left: 10px;
          margin-right: 56px;
          @include white-text(1);
          @extend %default-trasition;
        }
        .contact-email__email:hover{
          @extend %hovered-text;
        }
      }
      .top-bar__launch-button{
        display: flex;
        .launch-button__label{
          margin: auto 0;
        }
        @include button(transparent, white, white);
        svg{
          margin-left: 8px;
          height: 28px;
          width: 28px;
        }
        @extend %default-trasition;
      }
      .top-bar__launch-button:hover{
        @include button(transparent, #07DBB4, #07DBB4);
      }
    }
    .footer__line-spacer{
      width: 100%;
      margin: 30px 0;
      border: 1px solid rgba(6, 7, 27, 0.2);
    }
    .footer__content{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      column-gap: 150px;
      max-height: 255px;
      li{
        line-height: 220%;
        @include white-text(1);
        @extend %default-trasition;
      }
      li:hover{
        @extend %hovered-text;
      }
      .content__assets{
        .assets__title{
          @include white-text(0.6);
        }
      }
      .content__crypto-info{
        margin-bottom: auto;
      }
      .content__contact-us{
        .contact-us__title{
          @include white-text(1);
          margin: 10px 0;
        }
        a{
          margin-right: 7px;
          padding: 0;
          background: transparent;
          border: none;
          svg{
            @extend %default-trasition;
          }
          svg:hover{
            @extend %hovered-contact-svg;
          }
        }
      }
    }
    .footer__info{
      display: flex;
      justify-content: space-between;
      @include white-text(0.3);
      .info__item{
        margin-right: 100px;
        @extend %default-trasition;
      }
      .info__item:hover{
        color: white;
      }
      .copyright{
        margin-left: auto;
      }
    }
  }
}
/////////////////////////////////////
.stats-added{
  color: #07DBB4;
}
button, a{
  cursor: pointer;
}
